.Output {
  display: flex;
  flex-direction: column;
}

.Output-container {
  text-align: left;
  padding-top: 1rem;
  word-wrap: break-word;
  overflow: scroll;
  font-family: 'courier';
  letter-spacing: 0.1rem;
}
