html, body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;
}

/* LAYOUT */
.GridPanel {
  margin: 20px 0;
  max-width: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.Input {
  grid-area: 1 / 1 / span 1 / span 1;
}

.Output {
  grid-area: 2 / 1 / span 1 / span 1;
}

.Analysis {
  grid-area: 1 / 2 / span 1 / span 1;
}

.Suggestions, .Info {
  grid-area: 2 / 2 / span 1 / span 1;
}

/* UNIFORMITY */
.Input, .Output, .Analysis, .Suggestions, .Info {
  box-sizing: border-box;
  max-width: 300px;
  max-height: 300px;
}


/*
.highlights::selection {
  color: black;
  border: 1px solid black;
}

.Notifications {
  font-size: 0.5rem;
  margin: 50px 0 0 0;
}

.Autosolver {
  margin: 50px 0 0 0;
}
*/
